html{
  font-family: sans-serif;
}
header{
  color: black;
  font-size: 30px;
  font-weight: bold;
  height: 80px;
  width: 1000px;
  text-align: left;
  display: inline-block;
}
header img{
  height: 80px;
  width: 80px;
  display: inline-block;
}
header p{
  width: 400px;
  height:30px;
  padding: 20px 0px;
  margin: 0px;
  vertical-align: top;
  display: inline-block;
}
.bluebar{
  color: white;
  font-size:20px;
  width: 970px;
  height: 20px;
  margin: 0px;
  margin-top: -20px;
  padding: 15px;
  background-color: midnightblue;
}
body{
  height: 1200px;
  width: 1000px;
}
.container{
  height: 600px;
  width: 1000px;
  display: inline-block;
}
.l_sidebar{
  background: linear-gradient(gainsboro,white);
  height: 580px;
  width: 180px;
  padding: 10px;
  display: inline-block;
}
h1{
  font-size: 15px;
}
.txt1{
  font-size: 12px;
  font-weight: bold;
}
.button1{
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: lightskyblue;
  text-align: center;
  height: 15px;
  width:170px;
  padding: 5px;
  border-radius: 5px;
  border-color: lightskyblue;
  display: inline-block;
}
.button2{
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: orange;
  text-align: center;
  height: 15px;
  width:170px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  border-color: lightskyblue;
  display: inline-block;
}
hr{
  border: 2px solid grey;
}
.dojo_ad{
  background: url(./images/ad_background.png);
  text-align: center;
  height: 263px;
  width: 180px;
  margin-top: 20px;
}
.dojo_ad_txt{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 0px auto;
  position: relative;
  display: inline-block;
}
.dojo_ad_ninja{
  width: 80px;
}
.dojo_ad_button{
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: lightblue;
  text-align: center;
  height: 15px;
  width:140px;
  padding: 5px;
  border-radius: 5px;
  border-color: lightblue;
  display: inline-block;
}
.M_cont{
  background: linear-gradient(gainsboro,white);
  height: 600px;
  width: 770px;
  margin-left: -4px;
  padding-left: 30px;
  display: inline-block;
  vertical-align: top;
}
.M_cont_top{
  height: 70px;
  width: 770px;
  display: inline-block;
}
.M_cont_home{
  color: navy;
  font-size: 15px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
.home{
  height: 20px;
  width: 20px;
  display: inline-block;
  vertical-align: top;
}
.phoneimg{
  height: 50px;
  width: 50px;
  margin: 0px 0px 0px 485px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.M_cont_phone_txt{
  font-size: 10px;
  height: 60px;
  width: 150px;
  margin: 0px;
  padding: 5px 0px;
  text-align: top;
  display: inline-block;
  vertical-align: top;
}
.p_num{
  color: lightskyblue;
  font-size: 24px;
  font-weight: bold;
}
.M_cont_body{
  height: 510px;
  width: 770px;
}
.M_cont_body p{
  font-size: 12px;
}
h2{
  color: navy;
  font-size: 18px;
  margin: 5px 0px;
}
ul, ol{
  font-size: 12px;
  padding-right: 30px;
}
li{
  line-height: 20px;
}
.server_img{
  width: 240px;
  margin: 0px 235px;
}
ol{
  margin: 0px;
  margin-top: 12px;
}
.blubox{
  height: 75px;
  width: 730px;
  border: 4px solid lightskyblue;
  margin-bottom: 0px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}
.html_img{
  height: 60px;
  display: inline-block;
}
.blubox_title{
  color: navy;
  font-size: 18px;
  margin: 0px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}
.blubox_txt{
  width: 400px;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}
.txt_space{
  line-height: 20px;
}
.txt_blue{
  color: skyblue;
}
